* {
    box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body {
    background-color: #fcfcf8;    
}

.name {
	background-color: #3db2d1;
	color: #fcfcf8;
    font-family: 'Barlow', sans-serif;
    font-size: 30px;
	font-weight: 300;
}

.wrapper {
	padding-top: 100px;
	max-width:1200px;
	margin:auto;
}

.background {
	 background-image: url("basemap_light.jpg");
	 background-color: #fcfcf8;
	 background-position: center center no-repeat;
	 background-attachment: fixed;
}

.centerlogo {
	display: block;
	margin:auto;
	max-width: 30%;
}

.fixed {
   top: 0;
   z-index: 100;
   position: fixed;
   width: 100%;
   max-width:1200px;
   margin:auto;
   left: 0;
   right: 0;
}


.centerimg {
  display:block;
  width:70%;
  max-width: 1250px;
  max-height: 100%;
  margin:auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fcfcf8 ;
	border-bottom: 2px solid #3db2d1;
	border-right: 2px solid #3db2d1;
	border-left: 2px solid #3db2d1;
	border-radius: 0px 0px 5px 5px;
}

.navLeft {
    float: left;
}

.navRight {
	float: right;
}

li a {
    font-family: 'Barlow', sans-serif;
    display: block;
    color: #3db2d1;
    font-size: 30px;
	font-weight: 900;
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
}

.paragraph {
	background-color: #fcfcf8;
	width: 100%;
	height: auto;
	border-radius: 5px;
}

.header {
	background-color: none;
	width: auto;
	height: auto;
	border-radius: 5px;
}

h1 {
	font-family: 'Barlow', sans-serif;
	font-size: 60px;
	font-weight: 700;
	padding: 15px;
	color: #3db2d1;
	text-align: center;
}
h2 {
	font-family: 'Barlow', sans-serif;
	font-size: 60px;
	font-weight: 900;
	color: #3db2d1;
	padding: 10px 0px 10px 10px;
	margin-bottom: 0px;
}

h3 {
	font-family: 'Barlow', sans-serif;
	font-size: 36px;
	font-weight: 700;
	padding: 15px;
	color: #3db2d1;
	text-align: center;
}

p {
	font-family: 'Roboto Slab', sans-serif;
	font-size: 20px;
	font-weight: 400;
	color: #111111;
	padding: 10px 10px 25px 10px;
}

.pbold {
	font-family: 'Roboto Slab', sans-serif;
	font-size: 20px;
	font-weight: 700;
	color: black;
}

.pcenter {
	text-align: center;
}


/* text-over-image effect */

.container {
  position: relative;
}

.containermax {
	max-width: 600px;
	margin: auto;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.overlay {
  position: absolute;
  border-radius: 5px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: .4;
  transition: .5s ease;
  background-color: black;
}

.overlaytext {
  position: absolute;
  border-radius: 5px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: .5s ease;
  background-color: none;
}

.overlay_hidden_text {
  position: absolute;
  border-radius: 5px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
}

.container:hover .overlay_hidden_text {
  opacity: .95;
  background-color: #3db2d1;
}

.container:hover .overlay {
  opacity: .9;
  background-color: #3db2d1;
}

.text {
  color: #fcfcf8;
  font-family: 'Barlow', sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}







/* Change the link color to #111 (black) on hover */
li a.navHov:hover {
	background-color: #3db2d1;
    border: 3px solid #3db2d1;
	color: #fcfcf8;
    padding: 11px 15px;
}






/* GRID */

 .grid-container{
        width: 100%; 
        max-width: 1200px;
        margin: auto;
	 	padding-top: 100px
    }

.grid-container *{
        box-sizing: border-box; 
    }

    /*-- our cleafix hack -- */ 
    .row:before, 
    .row:after {
        content:"";
          display: table ;
        clear:both;
    }

    [class*='col-'] {
        float: left; 
        min-height: 1px; 
        width: 16.66%; 
        /*-- our gutter -- */
        padding: 6px; 
    }

    .col-1{ width: 25%; padding: 10px; padding-top: 15px;}
    .col-2{ width: 33.33%; padding: 10px; padding-top: 15px;}
    .col-3{ width: 50%; padding: 10px; padding-top: 10px;}
    .col-4{ width: 66.66%; padding: 10px; padding: 15px;}
    .col-5{ width: 83.33%;}
    .col-6{ width: 100%; padding-bottom: 0px}

    .outline, .outline *{
        outline: 1px solid #984b43; 
    }



/* MEDIA QUERIES / RESPONSIVE DESIGN */

@media screen and (max-width: 1200px){
	li a {
		font-family: 'Barlow', sans-serif;
		display: block;
		color: #3db2d1;
		font-size: 20px;
		font-weight: 900;
		text-align: center;
		padding: 14px 18px;
		text-decoration: none;
	}
	
	.name {
		background-color: #3db2d1;
		color: #fcfcf8;
		font-family: 'Barlow', sans-serif;
		font-size: 20px;
		font-weight: 300;
	}
	
	.col-3{ width: 100%; padding: 10px; padding-top: 10px;}
	
	h1 {
		font-family: 'Barlow', sans-serif;
		font-size: 42px;
		font-weight: 700;
		padding: 15px;
		color: #3db2d1;
		text-align: center;
	}
	
	h2 {
		font-family: 'Barlow', sans-serif;
		font-size: 42px;
		font-weight: 900;
		color: #3db2d1;
		padding: 25px 10px 10px 10px;
		margin-bottom: 0px;
	}

	h3 {
		font-family: 'Barlow', sans-serif;
		font-size: 26px;
		font-weight: 400;
		color: #3db2d1;
		padding: 10px 0px 25px 0px;
		margin-bottom: 0px;
	}
}



@media screen and (max-width: 500px){
	li a {
		font-family: 'Barlow', sans-serif;
		display: block;
		color: #3db2d1;
		font-size: 12px;
		font-weight: 900;
		text-align: center;
		padding: 8px 10px;
		text-decoration: none;
	}
	li a.navHov:hover {
		background-color: #3db2d1;
		border: 3px solid #3db2d1;
		color: #fcfcf8;
		padding: 5px 7px;
	}
	.name {
		background-color: #3db2d1;
		color: #fcfcf8;
		font-family: 'Barlow', sans-serif;
		font-size: 12px;
		font-weight: 300;
	}
	.text {
	  color: #fcfcf8;
	  font-family: 'Barlow', sans-serif;
	  font-size: 14px;
	  font-weight: 500;
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  -ms-transform: translate(-50%, -50%);
	}
	h1 {
		font-family: 'Barlow', sans-serif;
		font-size: 30px;
		font-weight: 700;
		padding: 15px;
		color: #3db2d1;
		text-align: center;
	}
	h2 {
		font-family: 'Barlow', sans-serif;
		font-size: 30px;
		font-weight: 900;
		color: #3db2d1;
		padding: 25px 10px 10px 10px;
		margin-bottom: 0px;
	}
	
}



