html, body {
  margin: 0;
  padding: 0;
  height: 100%;
	font-family: 'Montserrat', sans-serif;
}
.calcite-nav-top .calcite-map .leaflet-control-zoom {
  margin-top: 28px;
}
.calcite-navbar-search {
  margin-top: 0;
  margin-right: 5px;
  padding: 5px 0;
}
.calcite-nav-top .panel-body .geocoder-control-suggestions.leaflet-bar {
  top: 25px;
  bottom: auto;
}
.calcite-maps .esri-truncated-attribution {
  max-width: 100% !important;
  width: 100%;
}
.leaflet-touch .leaflet-bar {
  border: none;
}

/*-- style custom leaflet popups --*/
.leaflet-popup-content-wrapper {
	padding: 10px;
	text-align: center;
	background-color: #6D6E72;
	opacity: 1;
}

.leaflet-popup-content {
	color: #f6f6f4;
	text-align: left;
}


.leaflet-popup-tip {
	width: 17px;
	height: 17px;
	padding: 1px;
	margin: -10px auto 0;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	background-color:#6D6E72;
}

.popup-title {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 16px;
}

.legend {
	position: fixed;
	right: 50px;
	bottom: 50px;
	height: 50px;
	width: 200px;
	background-color: black;
}


.address-result {
	font-size: 16px;
	font-weight: 600;
	color: rgb(245, 149, 28);
}

.popup-contact {
	font-weight: 600; 
	color:rgb(245, 149, 28);
}



.btn {
	margin-bottom: 2px;
    width: 100%;
}

.btn-group {
    width: 100%;
}

.btn:not(:hover) {
	
}

.btn:focus, .panel-close:focus {
  outline: none !important;
}

.loadingOn {
	visibility: visible;
	opacity: 1;
	transition: opacity .3s linear;
}

#loading {
	width: 100%;
	height: 100%;
	background-color: rgb(245, 149, 28);
	position: absolute;
	z-index: 999;
	padding:0;
}

.loadingHidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s .3s, opacity .3s linear;
}

.lds-spinner {
  color: white;
  display: inline-block;
  position: absolute;
	top: 45%;
	left: -32px;
	margin-left: 50%;
  width: 64px;
  height: 64px;
}
.lds-spinner div {
  transform-origin: 32px 32px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 29px;
  width: 5px;
  height: 14px;
  border-radius: 20%;
  background: #fff;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}